{{ partial "header.html" . }}

<body>

    {{partial "navbar.html" . }}

    <!-- +++++ Welcome Section +++++ -->
    <div id="ww">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 centered">
                    <i class="fa fa-frown-o fa-5x"></i>
                    <p>Sorry, the page you are looking for was not found. Perhaps you could find it in the <a href="/blog">Blog</a> section.</p>
                    <p>Not what you were looking for?<a href="/contact"> Contact me</a> to inform me of a broken link.</p>
                </div>
                <!-- /col-lg-8 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /ww -->

    {{ partial "footer.html" . }}
