<!DOCTYPE html>
<html lang="en">


{{ partial "header.html" . }}

<body>

    {{partial "navbar.html" . }}

    <!-- +++++ Welcome Section +++++ -->
    <div id="ww">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 centered">
                    <img src="/img/user.png" alt="Stanley">
                    <h1>Welcome!</h1>
                    <p>Hi, I'm Keneth King'ori, a pretty cool dude and this is my personal blog. I'm interested in technology, business, gaming ... lots of stuff.</p>
                    <i class="fa fa-cogs fa-3x"></i>
                    <p>Currently under construction.</p>
                </div>
                <!-- /col-lg-8 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /ww -->

    {{ partial "footer.html" . }}

</body>

</html>