<!DOCTYPE html>
<html lang="en">


{{ partial "header.html" . }}

<body>

    {{partial "navbar.html" . }}

    <!-- +++++ Welcome Section +++++ -->
    <div id="ww">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 centered">
                    <img src="/img/user.png" alt="Stanley">
                    <h1>Welcome!</h1>
                    <p>Hi, I'm Keneth King'ori and this is my personal blog. My own corner of the internet where I can post stuff that interests me like ICT4D, entrepreneurship, gaming, poetry and general geekiness.</p>
                    
                </div>
                <!-- /col-lg-8 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /ww -->

    {{ partial "footer.html" . }}

</body>

</html>