{{ partial "header.html" . }}

<body>

    {{ partial "navbar.html" . }} {{ $baseurl := .Site.BaseUrl }}

    <!-- +++++ Post +++++ -->
    <div id="white">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>
                        <img src="../../img/user.png" width="50px" height="50px">
                        <ba>Keneth King'ori</ba>
                    </p>
                    <p id="date">
                        <bd>{{ .Date.Format "January, 3 2006" }}</bd>
                    </p>
                    <h3 id="title"><a href='{{ .Permalink }}'>{{ .Title}}</a>
                    </h3>
                    <div>
                        <article id="content">{{ .Content }}</article>
                    </div>
                    <aside id="meta">

                        <hr>
                        <div>
                            <p>
                                <bt>TAGS:
                                    <ul id="tags">
                                        {{ range .Params.tags }}
                                        <li> <a href="tags/{{ . | urlize }}">{{ . }}</a> 
                                        </li>
                                        {{ end }}
                                    </ul>
                                </bt>
                            </p>
                        </div>
                        <!-- Previous and Next post
                        <div>{{ if .Prev }}
                            <a href="{{.Prev.Permalink}}"> {{.Prev.Title}}</a>
                            {{ end }} {{ if .Next }}
                            <a href="{{.Next.Permalink}}"> {{.Next.Title}}</a>
                            {{ end }}</div>
                            -->

                    </aside>
                    <!--
                    <p>
                        <bt>TAGS: <a href="#">Wordpress</a> - <a href="#">Web Design</a>
                        </bt>
                    </p>
                    <hr>
                    <p><a href="blog.html"># Back</a>
                    </p>
                    -->
                </div>

            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /white -->


    {{ partial "footer.html" . }}
